In [1]:
import pandas as pd
import re
import seaborn as sb
import matplotlib.pyplot as plt
import datetime
import json

In [2]:
df_movies = pd.read_csv("the-movies-dataset/movies_metadata.csv")
#df_movies.head(3)
# filter movies on Status == 'Released' and drop status column
df_movies = df_movies[df_movies["status"] == 'Released']
df_movies.drop(columns=["status"])
len(df_movies)
df_movies = df_movies[0:100]
len(df_movies)

C:\Users\d060445\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

100

In [3]:
# one hot encoding of genres (and other list columns)
# one hot encoding of genres: (takes ~3-4 minutes)
# 1. get genres
#genre_set = {"Action","Drama","Comedy","Thriller","Animation"}

genre_set = {""}
for index, row in df_movies.iterrows():
    genres = json.loads(re.sub("'", '"',row.genres))
    for genre in genres: # turn string to json and loop over genres
        genre_set.add(genre.get("name"))       
genre_set.remove("")

for g in genre_set:
    df_movies[g] = 0

# 2. add genres as columns to dataframe, default value = 0
df_movie_genres = pd.DataFrame(columns=genre_set)
for index, row in df_movies.iterrows():
    temp = pd.Series(index=genre_set)
    tmp_genres = []  
    genres = json.loads(re.sub("'", '"',row.genres))
    for genre in genres:
        if genre.get("name") in list(genre_set):
            tmp_genres.append(genre.get("name"))
    for genre in tmp_genres: # turn string to json and loop over genres
        #print(str(index) + ": " + str(genre))
        temp[genre] = (1/len(tmp_genres))
    df_movie_genres = df_movie_genres.append(temp, ignore_index=True)
#print("One hot encoding finished")

# 3. add one hot encoded genres to df_movies        
df_movies[list(genre_set)] = df_movie_genres

# 4. turn NaN values to zeros
df_movies = df_movies.fillna(0)

df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,Science Fiction,Thriller,Animation,Mystery,History,Music,Family,Action,Adventure,War
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,0.0,0.0,0.333333,0.0,0.0,0.0,0.333333,0.0,0.0,0.0

In [4]:
df_movies = df_movies.drop(columns=['genres','imdb_id','original_title','overview','popularity','poster_path','release_date','revenue','status','tagline','title','video','vote_count','vote_average'])
df_movies.head(3)

,adult,belongs_to_collection,budget,homepage,id,original_language,production_companies,production_countries,runtime,spoken_languages,...,Science Fiction,Thriller,Animation,Mystery,History,Music,Family,Action,Adventure,War
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,0.0,0.0,0.333333,0.0,0.0,0.0,0.333333,0.0,0.000000,0.0
1,False,0,65000000,0,8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,0.0,0.0,0.000000,0.0,0.0,0.0,0.333333,0.0,0.333333,0.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,0,15602,en,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [5]:
# durchschnitt von predictions berechnen
df_ratings = pd.read_csv("the-movies-dataset/ratings.csv")
df_ratings = df_ratings.sort_values(by=['movieId'])
df_ratings = df_ratings[0:100000]
print(df_ratings.head(10))
df_ratings_grouped = df_ratings.groupby('movieId', as_index=False)[['rating']].mean()
df_ratings_grouped.movieId = df_ratings_grouped.movieId.astype("object")
#print(df_ratings_grouped.head(10))
#print(df_movies.sort_values(by=['id']).head(10))
df_joined = pd.merge(left=df_movies,right=df_ratings_grouped, left_on='id', right_on='movieId')
df_joined.head(3)

          userId  movieId  rating   timestamp
4560754    46848        1     4.0  1501544252
21804638  226491        1     4.0   918670493
21804572  226490        1     5.0  1454045658
11662860  121018        1     2.0  1451028121
2888413    30092        1     3.0   855598451
2888366    30091        1     5.0   946572465
25977116  270388        1     4.0   854918419
24949012  259427        1     5.0   970083988
24948695  259426        1     4.0  1204269385
2888289    30090        1     3.0   859915246

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, homepage, id, original_language, production_companies, production_countries, runtime, spoken_languages, Drama, Foreign, Crime, Fantasy, Horror, Documentary, Romance, Comedy, Science Fiction, Thriller, Animation, Mystery, History, Music, Family, Action, Adventure, War, movieId, rating]
Index: []

[0 rows x 30 columns]

In [6]:
# cast und crew integrieren
df_credits = pd.read_csv("the-movies-dataset/credits.csv")
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [7]:
pattern = '\"Director\", \"name\": \"([a-zA-Z ]*)\", \"'
directors = set()
df_credits['director'] = ""
for index, row in df_credits.iterrows():
    text = row.crew
    text = text.replace('\\','',-1)
    text = text.replace("'",'"',-1)
    a = re.search(pattern, text)
    if a != None:
        directors.add(a.group(1))
        df_credits.set_value(index, 'director', a.group(1))
print(len(directors))
#print(directors)
df_credits.head(10)

C:\Users\d060445\anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

14945

,cast,crew,id,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,Michael Mann
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,Sydney Pollack
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,Peter Hewitt
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,Peter Hyams
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,Martin Campbell

In [8]:
import json
pattern = '\"name\": \"(.*)\", '
df_credits['actors'] = ""
for index, row in df_credits.iterrows():
    actors = []
    text = row.cast
    text = text.replace('\\','',-1)
    text = text.replace("'",'"',-1)
    liste = text.split("cast_id")
    for i in liste:
        tmp_name = re.search(pattern, i)
        if tmp_name != None:
            actors.append(tmp_name.group(1))
    df_credits.set_value(index, 'actors', ','.join(map(str, actors)))
df_credits.head(10)

C:\Users\d060445\anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,cast,crew,id,director,actors
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,"Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston,"Robin Williams,Jonathan Hyde,Kirsten Dunst,Bra..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch,"Walter Matthau,Jack Lemmon,Ann-Margret,Sophia ..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine,..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer,"Steve Martin,Diane Keaton,Martin Short,Kimberl..."
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,Michael Mann,"Al Pacino,Robert De Niro,Val Kilmer,Jon Voight..."
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,Sydney Pollack,"Harrison Ford,Julia Ormond,Greg Kinnear,Angie ..."
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,Peter Hewitt,"Jonathan Taylor Thomas,Brad Renfro,Rachael Lei..."
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,Peter Hyams,"Jean-Claude Van Damme,Powers Boothe,Dorian Har..."
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,Martin Campbell,"Pierce Brosnan,Sean Bean,Izabella Scorupco,Fam..."

In [9]:
df_credits = df_credits.drop(columns=['cast','crew'])
df_joined = pd.merge(left=df_joined,right=df_credits, left_on='id', right_on='id')
df_joined.head(5)

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, homepage, original_language, production_companies, production_countries, runtime, spoken_languages, Drama, Foreign, Crime, Fantasy, Horror, Documentary, Romance, Comedy, Science Fiction, Thriller, Animation, Mystery, History, Music, Family, Action, Adventure, War, movieId, rating, id, director, actors]
Index: []

[0 rows x 32 columns]

In [10]:
# belongs to, homepage --> binär
df_joined['part_of_collection'] = ""
df_joined['+18'] = ""
df_joined['hasHomepage'] = ""
for index, row in df_joined.iterrows():
    if row.belongs_to_collection == 0:
        df_joined.set_value(index, 'part_of_collection', 0)
    else:
        df_joined.set_value(index, 'part_of_collection', 1)
    
    if row.adult == "True":
        df_joined.set_value(index, '+18', 1)
    else:
        df_joined.set_value(index, '+18', 0)   
    
    pattern = 'www.'
    tmp = re.search(pattern, str(row.homepage))
    if tmp != None:
        df_joined.set_value(index, 'hasHomepage', 1)
    else:
        df_joined.set_value(index, 'hasHomepage', 0)
df_joined = df_joined.drop(columns=['belongs_to_collection','adult','homepage'])
df_joined.head(5)

Empty DataFrame
Columns: [budget, original_language, production_companies, production_countries, runtime, spoken_languages, Drama, Foreign, Crime, Fantasy, Horror, Documentary, Romance, Comedy, Science Fiction, Thriller, Animation, Mystery, History, Music, Family, Action, Adventure, War, movieId, rating, id, director, actors, part_of_collection, +18, hasHomepage]
Index: []

[0 rows x 32 columns]

In [11]:
import json
pattern1 = "{'name': '([a-zA-Z ]*)'"
pattern2 = "'name': '([a-zA-Z ]*)'"

df_joined['productionCompanies'] = ""
df_joined['productionCountries'] = ""
df_joined['spokenLanguages'] = ""
for index, row in df_joined.iterrows():
    companies = []
    countries = []
    lang = []
    
    text1 = row.production_companies
    liste1 = text1.split("}")
    for i in liste1:
        tmp_name = re.search(pattern1, i)
        if tmp_name != None:
            companies.append(tmp_name.group(1))
    df_joined.set_value(index, 'productionCompanies', ', '.join(map(str, companies)))
    
    text2 = row.production_countries
    liste2 = text2.split("}")
    for i in liste2:
        tmp_name = re.search(pattern2, i)
        if tmp_name != None:
            countries.append(tmp_name.group(1))
    df_joined.set_value(index, 'productionCountries', ', '.join(map(str, countries)))
    
    text3 = row.spoken_languages
    liste3 = text3.split("}")
    for i in liste3:
        tmp_name = re.search(pattern2, i)
        if tmp_name != None:
            lang.append(tmp_name.group(1))
    df_joined.set_value(index, 'spokenLanguages', ', '.join(map(str, lang)))
    
    
df_joined.head(5)

Empty DataFrame
Columns: [budget, original_language, production_companies, production_countries, runtime, spoken_languages, Drama, Foreign, Crime, Fantasy, Horror, Documentary, Romance, Comedy, Science Fiction, Thriller, Animation, Mystery, History, Music, Family, Action, Adventure, War, movieId, rating, id, director, actors, part_of_collection, +18, hasHomepage, productionCompanies, productionCountries, spokenLanguages]
Index: []

[0 rows x 35 columns]

In [12]:
df_joined = df_joined.drop(columns=['production_companies','production_countries','spoken_languages'])
df_joined.head(5)

Empty DataFrame
Columns: [budget, original_language, runtime, Drama, Foreign, Crime, Fantasy, Horror, Documentary, Romance, Comedy, Science Fiction, Thriller, Animation, Mystery, History, Music, Family, Action, Adventure, War, movieId, rating, id, director, actors, part_of_collection, +18, hasHomepage, productionCompanies, productionCountries, spokenLanguages]
Index: []

[0 rows x 32 columns]

In [46]:
# production companies, production countries, spoken_languages --> hot encoding?
# first get list of all actoors
df_credits1 = df_credits
dict_actors = {}
occurences_by_actor= []
for index, row in df_credits1.iterrows():
    liste_actors = row.actors.split(",")
    for i in liste_actors:
        if i in dict_actors:
            dict_actors[i] = dict_actors[i] + 1
        else:
            dict_actors[i] = 1

# now that we got a list let's check how many actors there are and in how many movies they played
print("Overall NUmber of Actors:")
print(len(dict_actors))
print("Number of different occurances:")
print(list(set(dict_actors.values())))
            
# what about continuous attributes? --> budget
# original language: en = 1, else=0?

Overall NUmber of Actors:
202735
Number of different occurances:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 101, 102, 104, 107, 108, 109, 110, 123, 125, 148, 241, 305, 2420]

In [51]:
df_actors_plays = pd.DataFrame.from_dict(list(dict_actors.items()))

df_actors_plays.columns

df_actors_plays.sort_values(by=1, ascending=False)

                          0     1
2073                         2420
106                     Jr.   305
9520           Bess Flowers   241
8397        Christopher Lee   148
11559            John Wayne   125
2416      Samuel L. Jackson   123
5221       Gérard Depardieu   110
15400         Michael Caine   110
11030        John Carradine   109
3111      Donald Sutherland   109
1727            Jackie Chan   108
261            Frank Welker   107
69           Robert De Niro   104
82              Danny Trejo   102
1298          Steve Buscemi   101
9602           Irving Bacon    98
1938           John Goodman    97
4981           Danny Glover    96
1301     Christopher Walken    96
2967          Dennis Hopper    94
2190              John Hurt    93
699          Susan Sarandon    93
4267           Eric Roberts    92
388            Bruce Willis    91
1120          Harvey Keitel    91
982        Malcolm McDowell    90
4518           Willem Dafoe    89
2956          Anthony Quinn    88
9417       Donald Pleasence    87
793             Keith David    87
...                     ...   ...
98579      Alexis García V.     1
98578    Francisco Maturana     1
98577   María Ester Escobar     1
98576          Oskar Beregi     1
98574        Marina Koshetz     1
98573          Lucine Amara     1
98572     Giuseppe Valdengo     1
98571        Nicola Moscona     1
98570        Blanche Thebom     1
98569       Dorothy Kirsten     1
98568        Charlene Wyatt     1
98566            Teet Smith     1
98565              Tex Rand     1
98563           Edith Mills     1
98544        Jessica Cairns     1
98562          Carl Mathews     1
98559           Bob Ireland     1
98557           Clay De Roy     1
98556      Jerome de Nuccio     1
98554         Douglas Bates     1
98553            Ruth Burns     1
98552        Jennifer White     1
98551          Ellen Dryden     1
98550         Verity Edmett     1
98549      Patricia Phoenix     1
98548          Audrey Sykes     1
98547            Joan Elvin     1
98546           Derek Birch     1
98545           Roy Russell     1
202734    Aleksandr Chabrov     1

[202735 rows x 2 columns]